/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy

  #9D0D10 - red

*/

html { height: 100%; width: 100%; }
body {
     width: 100%; height: 100%; 
     margin: 0; padding: 0; border: 0;
     font-family: Verdana, Arial, Helvetica, sans-serif; 
     font-size: 13px; line-height: 15px;
     background: #689DC1;

}

img { border: none; }
a { color: #8D0D19; }
a:hover { color: #1A446C; }
	
#header { 
	height: 80px; 
	margin: 0; padding: 0; text-align: left; 
    background: #9D0D10; color: #D4E6F4;
}

#header .hlinks {
    float: right;
}

#header .hlinks .text {
    border: 1px solid #A20103;
    border-radius: 4px 4px 4px 4px;
    color: white;
    padding: 8.5px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    background: #b9090b; 
}


#header h1 { padding: 1em; margin: 0; }


#main { 
	height: 600px; width: 100%; 
	margin: 0; padding: 0; 

}



#footer { 
	clear: both;
	height: 2em; margin: 0; padding: 1em; 
	text-align: center; 
    background: #9D0D10;  color: #D4E6F4;
}

/* Navigation */
#navigation { 
	float: left;
	width: 120px; height: 100%; 
	margin: 0; padding: 0 2em; 
	color: #9D0D10;
}
#navigation a { color: #9D0D10 ; text-decoration: none; }
#navigation a:hover { color: #FFFFFF; }
ul.subjects { 
	color: #9D0D10;
	font-size: 16px;
	margin: 1em 0; padding-left: 0; list-style: none;
}
ul.pages { padding-left: 2em; list-style: square; font-weight: normal; }
.selected { font-weight: bold; }

/* Page Content */
#page { 
	float: left; height: 100%;
	padding-left: 2em; vertical-align: top; 
	font-size: 16px; line-height: 10px;

}

#page h1 { color: #8D0D19;}
#page h2 { color: #8D0D19; margin-top: 1em;}
#page h3 { color: #8D0D19; }
.view-content {
	margin: 1em; padding: 2em; border: 2px solid #999;
}

div.message { 
	border: 2px solid #8D0D19;
	color: #8D0D19; font-weight: bold;
	margin: 1em 0 ; padding: 1em; 
}

/* errors */
.error {
	color: #8D0D19; border: 2px solid #8D0D19;
	margin: 1em 0; padding: 1em;
}
.error ul { padding-left: 2em; }


input    {
width:300px;
display:block;
border: 1px solid #999;
height: 32px;
font-size: 16px;
}


input.blue {
   background-color: #135aac;  
   box-shadow: inset 0 1px 0 0 #5e9de4;
   color: #fff;
   border:2px solid #265890;
   text-shadow: 1px 1px 1px #000;
   
   height: 40px;
   width:180px;

   font-size:16px;
   padding: 10px 16px;
   min-width: 160px;
}

button.blue {
    background-color: #135aac;  
    box-shadow: inset 0 1px 0 0 #5e9de4;
	color: #fff;
	border:2px solid #265890;
	text-shadow: 1px 1px 1px #000;
	
	font-size:16px;
	padding: 10px 16px;
	min-width: 160px;
}

